.bg-software-gradient {
    background: linear-gradient(to right,#297d9c,#151515, black);
}
.bg-uiux-gradient {
    background: linear-gradient(to right,#151515,#924f99);
}
.bg-branding-gradient {
    background: linear-gradient(to right,#25597f,#41356d, #621e46);
}
.bg-graphics-gradient {
    background: linear-gradient(to right,#a63c7f,#151515, #151515, #151515);
}
.bg-data-gradient {
    background: linear-gradient(to right,#25597f,#41356d, #621e46);
}
.bg-security-gradient {
    background: linear-gradient(to right,#151515,#2c93bb);
}