.bg-custom-gradient {
  background: linear-gradient(to bottom right, #2f0a11, rgba(14,32,41,1));
  min-height: 100vh;
  width: 100%;
  background-size: cover;
}

.bg-custom-gradient2 {
  background: linear-gradient(to right,#29102f,#201733, #0c212a);
}

